.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {

  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.App-body {
  position: absolute;
  /*margin-left: 10%;*/
  width: 100%;
  height: 100%;
  background-color: white;
}

/* App specific css*/
.quiz-player-wrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;

}

.quiz-wrapper{
  position: absolute;
  left: 500px;
  top: 450px;
  width: 30%;
  /*height: 100%;*/
}

.result-wrapper{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  /*height: 100%;*/
}

.quiz-player {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:auto;
  /*height:auto;*/
}

.bigPlayButton { display: none; }

.fileSelection{
  background-color: white;
}

.coverPage{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0%;
  width: 100%;
  height: 110%;
  background-color: white;
}

.divider {
  width: 100%;
  height: 300px; /* only for demonstration, should be removed */
  padding: 20px;
}

.logo {
  position: absolute;
  top: 30%;
  left: 0;
  width: 50%;
  height: 300px; /* only for demonstration, should be removed */
  padding: 20px;
}

.entrance {
  position: absolute;
  left: 50%;
  top: 30%;
  padding: 20px;
  width: 50%;
  height: 300px; /* only for demonstration, should be removed */
}