.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {

  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.App-body {
  position: relative;
  /*margin-left: 10%;*/
  width: 100%;
  height: 100%;
  background-color: #0091ea;
}

/* App specific css*/
.quiz-player-wrapper {
  position: relative;
  height: 100%;
}

.quiz-wrapper{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30%;
  /*height: 100%;*/
}

.quiz-wrapper{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30%;
  /*height: 100%;*/
}

.result-wrapper{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  /*height: 100%;*/
}

.quiz-player {
  /*position: absolute;
  top: 0;
  left: 0;*/
  position: relative;
  width:100%;
  height:auto;
}

.fileSelection{
  background-color: white;
}